@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #0c090f;
  padding: 5px;
  height: 100vh;
  width: 100%;
  transition: 0.5s;
}

main {
  width: 100%;
  height: 100%;
}

.inbox {
  background-color: #12131e;
  padding: 5px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inbox h1 {
  margin: 5px;
}

.inbox h3 p {
  position: absolute;
  top: 5px;
}

.inbox p {
  text-align: start;
  margin: 5px;
  color: #999;
}

.inbox .form-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inbox .form-group label, .inbox .form-group select {
  margin: 5px;
}

.inbox .form-group select {
  outline: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 2px;
  color: #7b7b7b;
  font-weight: 700;
  font-size: 18px;
  background: transparent;
  border-radius: 5px;
}

.inbox .form-group select option {
  background: transparent;
  color: #000;
}

.inbox .yearsTitles {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.17);
  padding: 5px;
}

.inbox:nth-child(2) {
  grid-column: 2/5;
  flex-direction: column;
}

.inbox:nth-child(2) #yearTitle h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  font-size: 30px;
  margin: 5px;
  color: #2fc2c2;
  gap: 10px;
}

.inbox:nth-child(2) #yearTitle strong {
  color: #fff;
  font-size: 20px;
}

.inbox:nth-child(2) .flexYears {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inbox:nth-child(2) .flexYears .yearsDunut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inbox:nth-child(3) {
  grid-column: 5/7;
}

.inbox:nth-child(4) {
  grid-column: 1/4;
}

.inbox:nth-child(5) {
  grid-column: 4/6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inbox:nth-child(5) p, .inbox:nth-child(5) h1 {
  text-align: center;
}

.inbox:nth-child(5) p {
  font-size: 15px;
}

.inbox:nth-child(5) .minEstados h1, .inbox:nth-child(5) .maxEstados h1 {
  color: #bbb;
  font-size: 25px;
}

.inbox:nth-child(5) .porcentagemDiv {
  display: flex;
  align-items: center;
}

.inbox:nth-child(5) .porcentagemDiv h1, .inbox:nth-child(5) .porcentagemDiv span {
  color: #3fb33f;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1c1d2d; /* cor do background que vai ocupar o body */
  z-index: 999; /* z-index para jogar para frente e sobrepor tudo */
}

#preloader .inner {
  position: absolute;
  top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  transform: translate(-50%, -50%);
}

.bolas > div {
  display: inline-block;
  background-color: #595a71;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: animarBola;
          animation-name: animarBola;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bolas > div:nth-child(1) {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.bolas > div:nth-child(2) {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.bolas > div:nth-child(3) {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.bolas > div:nth-child(4) {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

@-webkit-keyframes animarBola {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  16% {
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animarBola {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  16% {
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */